<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

     <!-- jQuery -->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   
     <script>
       $(document).ready(function(){
          $("#btn").click(function(){
            var strh = $("#inph").val();
            var strp = $('#inpp').val();
            const strs = [strh, strp];
            print(strs);
            $("#div1").load("/t", strs);
        });
      });
     </script>
  </head>
  <body>

    <div id="div1">
      <h2>Div 1</h2>
      <p>The contents of this div will be replaced with new content from textboxes below:</p>
    </div>
    
    <div id="div2">
      <p>Header Text:</p>
      <input type="text" id="inph">
      <p>Paragraph Text:</p>
      <input type="text" id="inpp">
      <button type="button" id="btn">Load New Content</button>
    </div>
   
   <div id="div3">
      <h2>This text isn't updated.</h2>
    </div>

   
  </body>
</html>
